<script>
	export let labels = [];
	export let values = {};
	let textElement;
	let lineLength = 40;
	let bar = 7;

	function centerLabel(text) {
		let center = (lineLength - text.length) / 2;
		return ' '.repeat(center) + text;
	}

	function generateSlider(value) {
		let length = lineLength - 2;
		let loc = Math.floor((value / 100) * length);
		if (loc < 0) {
			loc = 0;
		}
		let slider = '<';
		// value is the midpoint
		if (loc <= bar) {
			slider += 'I'.repeat(bar);
			slider += '-'.repeat(length - bar);
		} else if (loc >= length - bar) {
			slider += '-'.repeat(length - bar);
			slider += 'I'.repeat(bar);
		} else {
			slider += '-'.repeat(loc - Math.floor(bar / 2));
			slider += 'I'.repeat(bar);
			slider += '-'.repeat(length - loc - Math.floor(bar / 2));
		}
		slider += '>';
		return slider;
	}

	function copyToClipboard() {
		navigator.clipboard.writeText(textElement.innerText);
	}
</script>

<div>
	<code bind:this={textElement} style="white-space: pre;">
		{#each labels as label}
			{centerLabel(label)}
			<br />
			{generateSlider(values[label])}
			<br />
		{/each}
	</code>
</div>

<button on:click={() => copyToClipboard()}>copy to clipboard</button>
