<script>
	import { onMount } from 'svelte';

	export let labels = [];
	let textInput = '';

	onMount(() => {
		textInput = labels.join('\n');
	});
	function updateLabels() {
		let text = textInput.split('\n');
		labels = [...text.map((line) => line.trim()).filter((line) => line.length > 0)];
	}
</script>

<textarea bind:value={textInput} on:input={() => updateLabels()} style="height:120px" />
