<script>
	import { dev } from '$app/env';
	import AsciiView from '$lib/AsciiView.svelte';
	import CustomLabels from '$lib/CustomLabels.svelte';

	let labels = ['Penis Length', 'Penis Width', 'Income', 'Political Views'];
	let values = {};
	let customize = false;

	$: resetValues(labels);

	function resetValues(labels) {
		values = {};
		for (let label of labels) {
			values[label] = 100 / labels.length;
		}
	}

	function currentTotal() {
		return Object.values(values).reduce((a, b) => a + b, 0);
	}

	function updateValues(label) {
		// check how much over we are, and remove the values from the other sliders
		let difference = currentTotal() - 100;
		// now divide the differences between the other values
		let seen = 0;
		for (let key of Object.keys(values)) {
			if (key == label) {
				continue;
			}
			// the fraction of difference left split across the items
			let frac = difference / (Object.keys(values).length - 1 - seen);
			difference -= frac;
			values[key] -= frac;
			if (values[key] < 0) {
				// we took too much from this slider
				difference -= values[key];
				values[key] = 0;
			}
			seen++;
		}
	}
</script>

<h1>sinclair slider</h1>

<img src="sinclair.png" alt="sinclair slider" />

<p>
	Create some ascii sliders. Source on
	<a href="https://bitbucket.org/geospiza/sinclair-slider/src/main/">bitbucket</a>.
</p>

<h2>sliders</h2>

{#if customize}
	<div><CustomLabels bind:labels /></div>
	<button on:click={() => (customize = false)}>hide</button>
{:else}
	<button on:click={() => (customize = true)}>cutomize labels</button>
{/if}

{#each Object.keys(values) as label}
	<div>
		<input
			type="range"
			min={0}
			max={100}
			bind:value={values[label]}
			on:change={() => updateValues(label)}
			id={label}
		/>
		<label for={label}>{label}</label>
	</div>
{/each}

{#if dev}
	<div>Total: {Object.values(values).reduce((a, b) => a + b, 0)}</div>
	{JSON.stringify(values)}
{/if}

<h2>output</h2>

<AsciiView {labels} {values} />
